/* 初始化样式 */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.warpper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* 导航栏 */
#nav {
  height: 60px;
  background: linear-gradient(#71c3f6, #79c8fa);
}
.navlist {
  width: 100%;
  margin: auto;
}
/* 导航栏的内容 */
.nav-item {
  float: left;
  height: 60px;
  width: 30vw;
  background: linear-gradient(#71c3f6, #79c8fa);
  border: 0;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 131, 246);
  user-select: none;
  transition: all 0.2s;
}
.nav-item:hover {
  background: linear-gradient(#63bff8, #6cc1f6);
  color: rgb(255, 255, 255) !important;
  font-size: 25px !important;
  height: 80px;
}
.nav-item-selected {
  float: left;
  height: 80px;
  width: 30vw;
  background: linear-gradient(#71c3f6, #79c8fa);
  border: 0;
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  color: rgb(13, 54, 70);
  user-select: none;
}
.nav-item-selected:hover {
  color: white;
}
/* 创建申请 */
#page0 {
  margin: auto;
  width: 600px;
  height: auto;
  color: rgb(1, 29, 72);
  background-color: rgb(190, 238, 245);
  border: rgb(0, 86, 173) solid 1px;
  border-radius: 3%;
  text-align: center;
  user-select: none;
  font-size: 25px;
}
.applySelect {
  margin: auto;
  width: 60%;
  height: 90px;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  /* background-color: aliceblue; */
}
.applySelectBox {
  width: 60%;
  height: 25%;
}
.applyCreate {
  margin: auto;
  width: 60%;
  height: 80px;
  /* background-color: #0188dc; */
}
#applyCreateBtn {
  width: 100%;
  height: 50px;
  background-color: #2396d5;
  border: 0;
  border-radius: 10px;
  font-family: Bulter_Light;
  color: #fff;
  font-size: 20px;
}
#applyCreateBtn:hover {
  background-color: #166087;
}
/* 申请信息 */
#page1 {
  display: none;
  margin: auto;
  width: 90vw;
}
.noHistory {
  margin: auto;
  width: 60vw;
  height: 30vw;
  background-color: rgb(255, 253, 127);
  border: #876116 solid 1px;
  border-radius: 3vw;
  text-align: center;
  color: red;
  font-size: 5vw;
  line-height: 30vw;
  user-select: none;
}
.applyList {
  margin: auto;
  width: 450px;
  background-color: aquamarine;
  border: #166087 solid 1px;
  border-radius: 3vw;
  text-align: center;
}
.deleteBtn {
  margin: auto;
  user-select: none;
  width: 20%;
  aspect-ratio: 5/1;
  background-color: #2396d5;
  border-radius: 10%;
  color: white;
}
.deleteBtn:hover {
  background-color: #124a68;
}
/* 关于我们 */
#page2 {
  display: none;
  margin: auto;
  width: 90vw;
  text-align: center;
}
.logo {
  width: 20vw;
}
.introduce {
  margin: auto;
  width: 60vw;
}
.introduce li {
  list-style-type: disc;
}
.introduceImg {
  width: 60vw;
}
/* 页尾 */
.void {
  width: 100vw;
  height: 40px;
}
.bottom {
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 2vw;
}
#bottomImgs {
  margin: auto;
  width: 60%;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}
.bottomImg {
  height: 15vw;
}
.note {
  color: gray;
  text-decoration: underline;
}
/* 弹窗 */
#win {
  position: fixed;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);
  width: 450px;
  line-height: 120px;
  background: linear-gradient(#71c3f6, #79c8fa);
  color: #fff;
  border-radius: 20px;
  z-index: 100;
  text-align: center;
  font-size: 40px;
  user-select: none;
  display: none;
  transition: all 0.05s;
}
#hitBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 110vw;
  height: 1000vh;
  background-color: black;
  opacity: 0.5;
  display: none;
}
/* 适配屏幕宽度 */
@media screen and (max-width: 750px) {
  #win {
    position: fixed;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    width: 60vw;
    line-height: 15vw;
    background: linear-gradient(#71c3f6, #79c8fa);
    color: #fff;
    border-radius: 3vw;
    z-index: 100;
    text-align: center;
    font-size: 5vw;
    user-select: none;
    display: none;
    transition: all 0.05s;
  }
  #page0 {
    margin: auto;
    width: 80vw;
    height: auto;
    color: rgb(1, 29, 72);
    background-color: rgb(190, 238, 245);
    border: rgb(0, 86, 173) solid 1px;
    border-radius: 3%;
    text-align: center;
    user-select: none;
    font-size: 25px;
  }
  .applySelect {
    margin: auto;
    width: 60%;
    height: 90px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
  }
  .applyList {
    margin: auto;
    width: 60vw;
    background-color: aquamarine;
    border: #166087 solid 1px;
    border-radius: 3vw;
    text-align: center;
  }
  .noHistory {
    margin: auto;
    width: 60vw;
    height: 30vw;
    background-color: rgb(255, 253, 127);
    border: #876116 solid 1px;
    border-radius: 3vw;
    text-align: center;
    color: red;
    font-size: 5vw;
    line-height: 30vw;
    user-select: none;
  }
}
